@import "globals.css";
@import "reset.css";

#root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

.header{
    position: sticky;
    top: 0;
    z-index: 5;
    grid-area: header;
    display: grid;
    grid-template-columns: auto minmax(320px, 1172px) auto;
    grid-template-areas:
    '. header__container .';
    background: rgba(16, 16, 29, 0.9);
    padding: 33.5px 0 31.5px;
}

.header__container{
    grid-area: header__container;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header__logo{
    font-family: var(--font-RalewayExtraBold);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
    height: 35px;
}

.header__domain-1{
    color: var(--light-blue);
}

.header__navigation-list{
    display: flex;
    gap: 60px;
}

.header__navigation-item{
    transition: color 0.3s ease-in-out;
}

.header__navigation-item:hover{
    color: var(--dark-blue);
}

.main{
    grid-area: main;
    position: relative;
    display: grid;
    grid-template-columns: auto minmax(320px, 1172px) auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    '. title .'
    '. order .';
    /*min-height: 887px*/
}

/*.main::after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    background-image: url("../assets/background.jpg");*/
/*    background-size: cover;*/
/*    background-position: right center;*/
/*    top: -100px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    min-height: 987px;*/
/*    z-index: -1;*/
/*}*/

.footer{
    grid-area: footer;display: grid;
    grid-template-columns: auto minmax(320px, 1172px) auto;
    grid-template-areas:
    '. footer__container .';
    background-color: var(--footer-gray);
    padding: 30px 0;
    font-size: 13px;
}

@media screen and (max-width: 1170px){
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main__title-info{
        padding-top: 220px !important;
        padding-left: 70px;
    }
    .main__checkout-order-advantage-list{
        grid-template-columns: repeat(5, auto) !important;
        grid-template-rows: repeat(2, auto) !important;
        grid-template-areas:
        'l1 . l2 . l3'
        '. l4 . l5 .';
    }
    .main__checkout-order-advantage-item:first-child{
        grid-area: l1;
    }
    .main__checkout-order-advantage-item:nth-child(1){
        grid-area: l2;
    }
    .main__checkout-order-advantage-item:nth-child(2){
        grid-area: l3;
    }
    .main__checkout-order-advantage-item:nth-child(3){
        grid-area: l4;
    }
    .main__checkout-order-advantage-item:last-child{
        grid-area: l5;
    }
    .main__checkout-order-advantage-item:after,
    .main__checkout-order-advantage-item:before,
    .main__checkout-order-advantage-item:not(:first-child) > div:after,
    .main__checkout-order-advantage-item:not(:first-child) > div:before,
    .main__checkout-order-advantage-item-circle:not(:last-child):before{
        display: none;
    }
    .main__checkout-order::after{
        top: 887px !important;
    }
    .main__checkout-order-form{
        padding: 0 30px;
    }
    .footer{
        padding: 30px 30px;
        grid-template-columns: 1fr;
        grid-template-areas: 'footer__container';
    }
    .footer__copyright:after{
        right: -30px !important;
    }
    .footer__payment-systems:after{
        right: -30px !important;
    }
}

@media screen and (max-width: 1140px){
    .footer{
        padding: 15px 30px;
    }
    .footer__copyright:after{
        display: none;
    }
    .footer__payment-systems:after{
        display: none;
    }
    .footer__container{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
        justify-content: center
    }
    .footer__copyright{
        display: flex;
        justify-content: center;
    }
    .footer__payment-list,
    .footer__contacts-list{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1040px){
    .main__checkout-order-advantage-list{
        grid-template-columns: repeat(3, auto) !important;
        grid-template-rows: repeat(2, auto) !important;
        grid-template-areas:
        'l1 l2 l3'
        'l4 . l5';
    }
}

@media screen and (max-width: 900px){
    .main__checkout-order-form{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: auto auto auto auto !important;
        grid-gap: 30px;
        grid-template-areas:
    'select email'
    'name file'
    'range range'
    'button button' !important;
    }
    .main__checkout-order{
        padding-top: 20px !important;
    }
    .main__checkout-order::after{
        height: 952px !important;
        top: 886px !important;
    }
}

.burger-checkbox,
.burger{
    display: none;
}



@media screen and (max-width: 840px){
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
        display: block;
    }
    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: var(--white);
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 var(--white);;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .burger-checkbox:checked ~ .header__navigation {
        transform: translateX(0);
    }

    .header__container{
        grid-template-columns: 1fr auto;
    }
    .header__navigation{

        top: 100px;
        left: 0;
        position: absolute;
        transform: translateX(-100%);
        width: 100%;
        list-style-type: none;
        transition: .3s;
        background: rgba(16, 16, 29, 0.9);
    }

    .header__navigation-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .main__description-container{
        color: var(--white);
    }

    .main__description-item:before{
        background-color: var(--white) !important;
    }
}

@media screen and (max-width: 630px){
    .main__checkout-order-advantage-list{
        grid-template-columns: repeat(2, auto) !important;
        grid-template-rows: repeat(3, auto) !important;
        grid-template-areas:
        'l1 l2'
        'l3 l4'
        'l5 .';
        grid-gap: 15px;
        justify-content: center !important;
    }
    .main__checkout-order::after {
        height: 1273px !important;
        top: 887px !important;
    }
    .main__checkout-order-form{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, auto) !important;
        grid-gap: 15px;
        grid-template-areas:
    'select'
    'email'
    'name'
    'file'
    'range'
    'button' !important;
    }

    .main__custom-select{
        width: 100px;
    }
}

@media screen and (max-width: 555px){
    .main__description-container{
        padding-right: 55px;
    }
    .main__checkout-order-title{
        font-size: 30px !important;
    }
    .main__checkout-order-title-block{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main__checkout-order-description{
        max-width: 300px;
    }
    .main__title{
        font-size: 30px !important;
    }
    .main__title-info{
        padding-right: 30px;
        padding-left: 30px;
    }
    .main__checkout-order::after {
        height: 1314px !important;
        top: 886px !important;
    }

    .main__custom-select{
        width: 100px;
    }
}

@media screen and (max-width: 455px){
    .footer__container{
        grid-row-gap: 15px;
    }

    .footer__payment-list {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
    }

    .footer__payment-item,
    .footer__contact-item-link{
        justify-content: center !important;
    }

    .footer__contacts-list{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
    }
}

@media screen and (max-width: 440px){
    .main__checkout-order-form-range-block {
        grid-area: range;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, auto) !important;
        grid-template-areas:
        'desc'
        'value'
        'input' !important;
    }
    .main__checkout-order::after {
        height: 1336px !important;
        top: 886px !important;
    }

    .main__checkout-order-advantage-list {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        'l1'
        'l2'
        'l3'
        'l4'
        'l5';
        grid-gap: 15px;
    }

    .main__checkout-order-advantage-item{
        display: flex;
        justify-content: center;
    }

    .main__checkout-order::after {
        height: 1644px !important;
        top: 886px !important;
    }
}

@media screen and (max-width: 390px){
    .main__title{
        font-size: 25px !important;
    }
    .header__container {
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    .main__title-info-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main__title-info{
        gap: 40px !important;
    }

    .footer__copyright {
        text-align: center;
    }

    .header__logo{
        font-size: 20px;
        width: 200px;
    }
    .main__description-container{
        padding-right: 0;
    }

    .main__custom-select{
        min-width: 150px !important;
        width: 200px !important;
    }

    .main__custom-select #mySelect{
        font-weight: 400;
        font-size: 13px;
        padding: 12px 30px 12px 10px;
    }

    .main__custom-select::after{
        right: 5px !important;
    }

    .main__checkout-order::after {
        height: 1665px !important;
        top: 886px !important;
    }
}

@media screen and (max-width: 350px){
    .header__container{
        display: flex !important;
        justify-content: normal;
        align-items: center;
        gap: 20px;
    }
    .main__checkout-order::after {
        height: 1665px !important;
        top: 886px !important;
    }
}


.footer__container{
    grid-area: footer__container;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
}

.footer__payment-list,
.footer__contacts-list{
    display: grid;
    grid-column-gap: 38px;
}

.footer__payment-list{
    grid-template-columns: repeat(3, auto);
}

.footer__contacts-list{
    grid-template-columns: repeat(2, auto);
}

.footer__payment-item{
    color: var(--gray);
}

.footer__payment-item,
.footer__contact-item-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__contact-item{
    transition: color 0.3s linear;
}

.footer__contact-item:hover{
    color: var(--light-blue);
}

.footer__copyright{
    position: relative;
}

.footer__copyright:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 18px;
    top: 1px;
    right: -40px;
    background-color: var(--gray);
}


.footer__payment-systems{
    position: relative;
}

.footer__payment-systems:after{
    content: '';
    position: absolute;
    width: 1px;
    height: 18px;
    top: 1px;
    right: -42.5px;
    background-color: var(--gray);
}

.main__title-info{
    grid-area: title;
    height: 887px;
    color: var(--black);
    padding-top: 103px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main__checkout-order{
    min-height: 782px;
    grid-area: order;
    padding: 67px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main__checkout-order::after{
    content: '';
    position: absolute;
    background-image: url("../assets/background-order.jpg");
    background-size: cover;
    background-position: right center;
    top: 749px;
    left: 0;
    width: 100%;
    height: 920px;
    z-index: -2;
}

.main__title-info::after{
    content: '';
    position: absolute;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    background-position: right center;
    top: -100px;
    left: 0;
    width: 100%;
    min-height: 987px;
    z-index: -1;
}

.main__title{
    font-family: var(--font-LatoBold);
    font-weight: 700;
    font-size: 48px;
    max-width: 780px;
    text-transform: uppercase;
}

.main__title-span,
.main__checkout-order-title-span{
    color: var(--dark-blue);
}

.main__description-title{
    font-family: var(--font-LatoBold);
    font-size: 20px;
    margin-bottom: 10px;
}

.main__description-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main__description-item{
    position: relative;
    padding-left: 25px;
    font-family: var(--font-LatoRegular);
    font-weight: 400;
    font-size: 20px;
}

.main__description-item::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 2px;
    background-color: var(--black);
    top: 11.24px;
    left: 10px;
}

.main__title-info-buttons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.main__button-order{
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    width: 183px;
    font-family: var(--font-LatoRegular);
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: var(--dark-blue);
    padding: 15px 31.48px;
}

.main__button-more-details{
    transition: background-color 0.3s ease-in-out;
    font-family: var(--font-LatoSemiBold);
    cursor: pointer;
    width: 183px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: var(--button-black);
    border: 1px solid var(--button-border);
    border-radius: 4px;
    background-color: var(--white);
    padding: 15px 31.48px;
}

.main__button-more-details:hover{
    background-color: var(--gray);
}

.main__button-order:hover{
    background-color: var(--light-blue);
}

.main__checkout-order-title{
    max-height: 40px;
    text-align: center;
    font-family: var(--font-LatoBlack);
    color: var(--white);
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.main__checkout-order-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(--smooth-gray);
}

.main__checkout-order-advantage-list{
    grid-template-columns: repeat(5, auto);
    display: grid;
    justify-content: space-between;
}

.main__checkout-order-advantage-item{
    position: relative;
}

.main__checkout-order-advantage-item > div{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 209px;
}


.main__checkout-order-advantage-item:not(:last-child):after,
.main__checkout-order-advantage-item:not(:last-child):before,
.main__checkout-order-advantage-item:not(:first-child) > div:after,
.main__checkout-order-advantage-item:not(:first-child) > div:before,
.main__checkout-order-advantage-item-circle:not(:last-child):before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #c4c4c4;
    border-radius: 50%;
    top: 47px;
}

.main__checkout-order-advantage-item:not(:first-child) > div:after{
    left: 10px;
}

.main__checkout-order-advantage-item:not(:first-child) > div:before{
    left: 37px;
}

.main__checkout-order-advantage-item::after{
    right: 35px;
}

.main__checkout-order-advantage-item::before{
    right: 7px;
}

.main__checkout-order-advantage-item-circle:before{
    top: 42px !important;
    right: -80px;
}

.main__checkout-order-advantage-item-circle{
    width: 100px;
    height: 100px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    border: 5px solid var(--border-blue);
}

.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-5{
    position: relative;
}

.circle-1::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 20px;
    left: 18px;
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-2::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 20px;
    left: 18px;
    background-image: url("../assets/percent.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-3::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 20px;
    left: 18px;
    background-image: url("../assets/doc.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-4::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 20px;
    left: 18px;
    background-image: url("../assets/message.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-5::after{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    top: 20px;
    left: 18px;
    background-image: url("../assets/money.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.circle-5:before{
    display: none;
}

.main__checkout-order-advantage-item-text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.main__checkout-order-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    grid-template-areas:
    'select email name'
    'range range file'
    '. button .';
}

#mySelect,
.main__checkout-order-form-email,
.main__checkout-order-form-email::placeholder,
.main__checkout-order-form-name::placeholder,
.main__checkout-order-form-name{
    font-weight: 400;
    font-size: 18px;
    color: #272733;
}

#mySelect,
.main__checkout-order-form-email,
.main__checkout-order-form-name{
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 12px 35px 12px 10px;
}

.main__checkout-order-form-range-block{
    grid-area: range;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    'desc value  '
    'input input';
}

.main__checkout-order-form-range-block p{
    grid-area: desc;
    font-size: 18px;
}

#rangeNum{
    grid-area: value;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
}

.main__checkout-order-form-range-block input{
    width: 100%;
    grid-area: input;
    margin-top: 15px;
}

.main__checkout-order-form-button{
    transition: background-color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--font-LatoSemiBold);
    padding: 17.5px 0;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    background: var(--dark-blue);
    grid-area: button;
    margin-top: 27px;
}

.main__checkout-order-form-button:hover{
    background-color: var(--light-blue);
}

.input-file {
    position: relative;
    display: inline-block;
}
.input-file span {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
    color: #272733;
    text-align: center;
    border-radius: 3px;
    background-color: var(--white);
    line-height: 22px;
    height: 48px;
    width: 100%;
    padding: 12px 0;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover span {
    background-color: var(--dark-blue);
    color: var(--white);
}

.input-file span svg path{
    transition: all 0.3s ease-in-out;
}

.input-file:hover span svg path{
    fill: var(--white);
}

input[type=range] {
    height: 8px;
    background-color: rgba(255, 255, 255, 0.7) !important;
    -webkit-appearance: none;
    margin: 18px 0 0 0;
    width: 100%;
    border-radius: 25px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px !important;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 25px;
    border: 1px solid var(--white);
    border-left: none;
    border-right: none;
}
input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--border-blue);
    height: 26px;
    width: 25px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.2px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px !important;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 25px;
    border: 1px solid var(--white);
}
input[type=range]::-moz-range-thumb {
    border: 2px solid var(--border-blue);
    height: 26px;
    width: 25px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.2px;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 8px !important;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7) !important;
    border-radius: 25px;
    border: 1px solid var(--white);
}

input[type=range]::-ms-thumb {
    border: 2px solid var(--border-blue);
    height: 26px;
    width: 25px;
    border-radius: 50%;
    background: var(--dark-blue);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.2px;
}

.main__custom-select {
    min-width: 243px;
    position: relative;
}

.select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    width: 100%;
    font-size: 1.15rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.select:focus {
    outline: none;
}

.main__custom-select::after {
    content: "";
    position: absolute;
    right: 10px;
    pointer-events: none;
}

.main__custom-select::after {
    position: absolute;
    content: url("../assets/chevron.svg");
    top: 14px;
}